.home__content {
  padding-top: 1rem;
}

.lineUp {
  animation: 1s anim-lineUp ease-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* Video COMPONENT CSS */
#gif{
  mix-blend-mode: normal;
}
#quotes{
  max-height: 30px;
  max-width: 30px;
  margin-top: 10px;
}


/* DATA COMPONENT CSS */
.data__area {

}

.para__title{
  font-size: 3rem;
}

.para__content{
  font-size: clamp(20px, 5vw, 25px);
  margin-top: auto;
  text-align: justify;
}

.quote p {
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  padding: 1rem 2rem;
  background-color: #141414;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #dedede;
  color:#141414 ;
}

h1 {
  font-size: clamp(3rem, 10vw, 6rem);
  color: rgb(41, 41, 41);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
.container_title{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: left;
  background-color: rgb(255, 255, 255);
  margin: 0;
  overflow: hidden;
}

h2{
  font-size: clamp(3rem, 14vw, 10rem) !important; 
  color: rgb(41, 41, 41);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
h3{
  font-size: clamp(20px, 7vw, 20px) !important; 
  color: rgb(41, 41, 41);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
h4{
  font-size: 30px;
  margin-top: 30px;
  font-weight: 500;
}


/* Reviews */
/* Testimonials */
.testimonials-container {
  grid-column: span 2;
  text-align: center;
  margin-top: 1rem;
}

.slide__item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  padding: 1px;
  color: #354052;
}

.slide__heading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.slide__quote {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  max-width: 600px;
}

.slide__cite {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px; /* Adjust as needed */
}

/* Carousel controls */

/* Carousel indicators */
.carousel-indicators .active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.carousel-indicators li {
  border: 2px solid #354052;
  background-color: #354052;
}


/* Services COMPONENT CSS */